@import "tailwindcss";
/* @font-face{
  font-family: "Orbitron";
  src:url('./assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf') 
} */

@font-face{
  font-family: "Orbitron";
  src:url('./assets/fonts/AROneSans/AROneSans-VariableFont_ARRR,wght.ttf')
}

@font-face{
    font-family: "VCRMONO";
    src:url('./assets/font/VCR_MONO/VCR_OSD_MONO_1.001.ttf')
}